系统健康检查/系统健康检查:default{sysak ossre_client -d}
调度诊断中心/系统负载诊断:default{sysak loadtask -s -g }
调度诊断中心/调度抖动诊断:default{sysak -g schedmoni -s 20 20}:cmd{sysak -g schedmoni [-s timeout(s)] [threshold(s)]}
调度诊断中心/应用profile分析:default{sysak raptor oncpu --server local --app-name aa --exit-time 5}:cmd{sysak raptor oncpu --server local --app-name aa [--exit-time timeout(min)]}
存储诊断中心/IO时延分析:default{sysak -g iosdiag latency -t 1000 -T 10}:cmd{sysak -g iosdiag latency [-t threshold(ms)] [-T timeout(s)] [disk] }
存储诊断中心/IO流量分析:default{sysak iofsstat -m -P -c 15 -T 15}:cmd{sysak iofsstat -m -P [-c timeout(s)] [-T timeout(s)] [-d disk]}
存储诊断中心/IO HANG分析:default{sysak -g iosdiag hangdetect -t 5000 -T 10}:cmd{sysak -g iosdiag hangdetect [-t threshold(ms)] [-T timeout(s)] [disk]}
网络诊断中心/丢包诊断:default{sysak -g rtrace drop --duration 10}:cmd{sysak -g rtrace drop [--duration timeout(s)]}
网络诊断中心/抖动诊断:default{sysak -g rtrace latency --json --duration 10 --proto icmp}:cmd{{sysak -g rtrace latency --json [--duration timeout(s)] --proto icmp}}
网络诊断中心/重传诊断:default{sysak -g rtrace retran --duration 10}:cmd{sysak -g rtrace retran [--duration timeout(s)]}
网络诊断中心/时延诊断:default{sysak pingtrace -c 127.0.0.1 -t 10}:cmd{sysak pingtrace [-c target_ip] [-t timeout(s)] [-i interval_time(us)] [-C packet_num]}
内存诊断中心/内存大盘:default{sysak memgraph -g -l -f -k -c 3}
内存诊断中心/Cache分析:default{sysak podmem -r 100 -s}:cmd{sysak podmem -r 100 [-s / -a / -p pod / -f cgroup / -c container_id]}
内存诊断中心/OOM诊断:default{sysak oomcheck -j}:cmd{sysak oomcheck -j [-t check_time(YYYY-MM-DD HH:MM:SS)]}
链路诊断中心/RT时延分析:default{sysak -g rtdelay -u}:cmd{sysak -g rtdelay -u [-p pid] [-s server_pid] [-d timeout(s)]}
